@import "src/features/ui/variables.scss";

.form {
  .text {
    &--gray {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__input-wrap {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  &__label {
    display: block;
    margin-bottom: 1rem;
    color: $darkGrayColor;

    &--check {
      position: relative;
      display: block;
      border: 2px solid $grayColor;
      border-radius: 10px;
      width: 6rem;
      height: 3rem;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 3px;
        border-radius: 10px;
        width: calc(50% - 6px);
        height: calc(100% - 6px);
        transition: all 0.3s ease;
      }
    }
  }

  &__input {
    border: 2px solid $grayColor;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    width: 100%;

    &[type="checkbox"] {
      display: none;

      & + .form__label--check::after {
        left: 3px;
        background: $darkGrayColor;
      }

      &:checked + .form__label--check::after {
        left: calc(100% - 3px);
        background: $yellowColor;
        transform: translateX(-100%);
      }
    }
  }

  &__btn {
    width: 100%;
  }
}
