.topbar {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;

  &__greeting {
    font-weight: 700;
    font-size: 24px;
  }

  &__btn {
    @media screen and (min-width: 1200.99px) {
      display: none;
    }
  }

  &__settings {
    margin-left: auto;
  }
}
